MCP CLIENTE.json
{
  "name": "MCP CLIENTE",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "61004d63-e9c3-4743-935b-8aa1f5237722",
      "name": "When chat message received",
      "webhookId": "cb8f7843-2da5-4440-b0a6-e418fc382e29"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un agente que se conecta al MCP Server Trigger, y a las herramientas que tiene disponible.\n\nResponde siempre según la base de datos en Supabase, nunca respondas información que no funciona"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "46bed55f-0668-4366-b0c8-a0d56342d4b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "https://kriptondata.app.n8n.cloud/mcp/MCP",
        "include": "selected",
        "includeTools": [
          "Select_rows_from_a_table_in_Postgres"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        480,
        180
      ],
      "id": "81d3df65-dd26-4444-9b8e-36898f117d27",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        220
      ],
      "id": "5bba7edb-8a12-4403-8e41-3b046c90bab3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dip9Rnc9K93aEvd8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "id": "1c178c70-e50f-425e-b117-8257cf28a2fa",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07c16751-3d53-41aa-ba37-f4a61aa2dfc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b8123005eccf77b7c22aff1e7e8d1dc432579da354e3697279acd178e9907b9"
  },
  "id": "KFE7iXFoaIejYLp0",
  "tags": []
}